{% extends 'app_prueba/base.html' %}
{% load static %}
{% block content %}
{% if validlink %}
<p>Por favor ingrese su nueva contraseña.</p>
<form action="" method="post">
<div style="display:none">
<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
</div>
<table>
<tr>
<td>{{ form.new_password1.errors }}
<label for="id_new_password1">Nueva contraseña:</label></td>
<td>{{ form.new_password1 }}</td>
</tr>
<tr>
<td>{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme Contraseña:</label></td>
<td>{{ form.new_password2 }}</td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Cambiar mi contraseña" /></td>
</tr>
</table>
</form>
{% else %}
<h1>Fallo el reinicio de contraseña</h1>
<p>El link de reinicio de contraseña es invalido, posiblemente porque ya fue usado.
Por favor solicite un nuevo reinicio de contraseña.</p>
{% endif %}
{% endblock %}